body {
	background-color: rgb(26,26,26);
	text-align: center;
}

*:focus {
	outline: none;
}


@font-face {
	font-family: Menlo;
	font-style: normal;
	font-weight: normal;
	src: local('Menlo'), url('../fonts/Menlo-Regular.woff') format('woff');
}

@font-face {
	font-family: Menlo;
	font-style: normal;
	font-weight: bold;
	src: local('Menlo'), url('../fonts/Menlo-Bold.woff') format('woff');
}

p, label {
	color: rgb(177,177,177);
	font-family: Menlo;
	font-weight:normal;
	font-size:12px;
}

h1 {

	color: rgb(177,177,177);
	font-family: Menlo;
	font-weight:bold;
	font-size:20px;
	background-color: rgb(26,26,26);
	padding-bottom: 15px;
}



input , button {
	border: 0;
	padding-left: 0;
	padding-right: 0;
	background-color: rgb(26,26,26);
	color: rgb(177,177,177);

	font-family: Menlo;
	font-weight:bold;
	font-size:12px;
}

input {
	max-width: 125px;
}

button {
	cursor: pointer;
}


.content {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    align-items: center;
    justify-content: center;
}

@media (max-aspect-ratio: 3/4), (max-width: 300px) {
  	.content {
    	min-height: none;
    	min-width: 100vw;
		zoom: 3;
    	-moz-transform: scale(3);
    	-moz-transform-origin: 0 0;
	}
}


#r {
	user-select: none;
	white-space: pre-wrap;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}