body {
	background-color: rgb(26,26,26);
	text-align: center;
}

*:focus {
	outline: none;
}

.disable-dbl-tap-zoom {
	touch-action: manipulation;
}

html, body {margin: 0; height: 100%; overflow-x: hidden}

@font-face {
	font-family: Menlo;
	font-style: normal;
	font-weight: normal;
	src: local('Menlo'), url('../fonts/Menlo-Regular.woff') format('woff');
}

@font-face {
	font-family: Menlo;
	font-style: normal;
	font-weight: bold;
	src: local('Menlo'), url('../fonts/Menlo-Bold.woff') format('woff');
}

p, label, h1, #r, .content, input, button, span, select  {
	color: rgb(177,177,177);
	font-family: Menlo, serif;
	font-size: 12px;
}

select::-ms-expand {
	display: none;
}

select {
	box-sizing: border-box;
	-webkit-appearance: none;
	background-color: transparent;
	border: none;
	align-items: center;
	white-space: pre;
	-webkit-rtl-ordering: logical;
	cursor: default;
}

select::-ms-backdrop {
	color: transparent;
}

p, label {
	font-weight:normal;
}

h1 {
	font-weight:bold;
	background-color: rgb(26,26,26);
	padding-bottom: 15px;
}



input , button {
	border: 0;
	padding-left: 0;
	padding-right: 0;
	background-color: rgb(26,26,26);
	font-weight:bold;
}

input {
	max-width: 16ch;
}

button {
	cursor: pointer;
}


.content {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
	min-width: 100vw;
    align-items: center;
    justify-content: center;
}

@media (max-aspect-ratio: 3/4), (max-width: 300px) {
	p, label, h1, #r, .content, input, button, span, select  {
		font-size: 3vw;
	}
}


#r {
	user-select: none;
	white-space: pre-wrap;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

.inputt {
	max-width: 3ch;
	font-weight:normal;
}

.inputt, input {
	scroll-behavior: unset;
}